body,
div,
p,
a,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
il {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

a, h1,h2,h3,h4,h5 {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

.header {
  background-color: #05f29b;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 250px 1.5fr 250px;
  align-items: center;
}

.logo {
  color: white;
  font-size: 45px;
  font-weight: bold;
  justify-self: end;
}

ul.header-links {
  margin:0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-link:last-child {
  margin: 0 30px;
}

.header-links li > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 28px;
}

.header-links li > a:visited {
  color: white;
}

.header-links li > a:hover {
  color: white;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.account-name {
  color: white;
  font-size: 20px;

}

.account-avatar {
  border-radius: 50%;
  background-color: #555;
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.account-avatar-img {
  width: 35px;
  height: 35px;
  border-radius:50%;
}

.account-logout {
  margin-left: 10px;
  color: white;
  font-size: 20px;

}

.account-links {
  justify-items: start;
}

.account-links > a {
  font-size: 20px;
  color: white;
}

.account-links > a:first-child:after {
  content: '/';
  padding-left: 5px;
  display: inline-block;
}










.content {
  min-height: 1000px;
}






.footer {
  height: 180px;
  background-color: #025939;
}


p {}